<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="pages/unidades-matematica"></ion-back-button>
        </ion-buttons>
        <ion-title>Factorización</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card href="/iniciar-cuest1">
        <ion-card-header>
            <ion-card-title>3.1 Facto común</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card href="/iniciar-cuest2">
        <ion-card-header>
            <ion-card-title>3.2 Factorización de binomios y trinomios</ion-card-title>
        </ion-card-header>
    </ion-card>

</ion-content>