<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="pages/unidades-electricidad"></ion-back-button>
        </ion-buttons>
        <ion-title>La Carga Eléctrica</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card href="/iniciar-cuest1">
        <ion-card-header>
            <ion-card-title>2.1 Objetos sin carga</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card href="/iniciar-cuest2">
        <ion-card-header>
            <ion-card-title>2.2 Potencial eléctrico</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card href="/iniciar-cuest3">
        <ion-card-header>
            <ion-card-title>2.3 Tipos de Corriente</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card href="/iniciar-cuest4">
        <ion-card-header>
            <ion-card-title>2.4 Resistencias</ion-card-title>
        </ion-card-header>
    </ion-card>
</ion-content>