<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="pages/unidades-robotica"></ion-back-button>
        </ion-buttons>
        <ion-title>Nombre de la unidad</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card href="/iniciar-cuest1">
        <ion-card-header>
            <ion-card-title>2.1 Aqui va el nombre del tema</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card href="/iniciar-cuest2">
        <ion-card-header>
            <ion-card-title>2.2 Aqui va el nombre del tema</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card href="/iniciar-cuest3">
        <ion-card-header>
            <ion-card-title>2.3 Aqui va el nombre del tema</ion-card-title>
        </ion-card-header>
    </ion-card>
</ion-content>