<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Unidades Robotica</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6" href="#">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Unidad Uno</ion-card-title>
                        <ion-card-subtitle>Aqui va el nombre de la unidad</ion-card-subtitle>
                    </ion-card-header>
                    <ion-img src="/assets/imagenesUnidadesRobotica/unidadUnoRo.jpg"></ion-img>
                </ion-card>
            </ion-col>
            <ion-col size="6" href="#">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>Unidad Dos</ion-card-title>
                        <ion-card-subtitle>Aqui va el nombre de la unidad</ion-card-subtitle>
                    </ion-card-header>
                    <ion-img src="/assets/imagenesUnidadesRobotica/unidadUnoRo.jpg"></ion-img>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card href="#">
                    <ion-card-header>
                        <ion-card-title>Unidad Tres</ion-card-title>
                        <ion-card-subtitle>Aqui va el nombre de la unidad</ion-card-subtitle>
                    </ion-card-header>
                    <ion-img src="/assets/imagenesUnidadesRobotica/unidadUnoRo.jpg"></ion-img>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card href="#">
                    <ion-card-header>
                        <ion-card-title>Unidad Cuatro</ion-card-title>
                        <ion-card-subtitle>Aqui va el nombre de la unidad</ion-card-subtitle>
                    </ion-card-header>
                    <ion-img src="/assets/imagenesUnidadesRobotica/unidadUnoRo.jpg"></ion-img>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card href="#">
                    <ion-card-header>
                        <ion-card-title>Unidad Cinco</ion-card-title>
                        <ion-card-subtitle>Aqui va el nombre de la unidad</ion-card-subtitle>
                    </ion-card-header>
                    <ion-img src="/assets/imagenesUnidadesRobotica/unidadUnoRo.jpg"></ion-img>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>