<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="pages/unidades-electricidad"></ion-back-button>
        </ion-buttons>
        <ion-title>Ley de Ohm</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card href="/iniciar-cuest1">
        <ion-card-header>
            <ion-card-title>3.1 Código de Colores</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card href="/iniciar-cuest2">
        <ion-card-header>
            <ion-card-title>3.2 Principio de la ley de Ohm</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card href="/iniciar-cuest3">
        <ion-card-header>
            <ion-card-title>3.3 Aplicación Práctica</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card href="/iniciar-cuest4">
        <ion-card-header>
            <ion-card-title>3.4 Resistencias</ion-card-title>
        </ion-card-header>
    </ion-card>
</ion-content>