<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="pages/unidades-electricidad"></ion-back-button>
        </ion-buttons>
        <ion-title>Circuitos II</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card href="/iniciar-cuest1">
        <ion-card-header>
            <ion-card-title>5.1 Motores Eléctricos</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card href="/iniciar-cuest2">
        <ion-card-header>
            <ion-card-title>5.2 Interruptores</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card href="/iniciar-cuest3">
        <ion-card-header>
            <ion-card-title>5.3 Aplicación Práctica</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card href="/iniciar-cuest4">
        <ion-card-header>
            <ion-card-title>5.4 Solución a Problemas</ion-card-title>
        </ion-card-header>
    </ion-card>
</ion-content>