<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-back-button defaultHref="pages/unidades-matematica"></ion-back-button>
        </ion-buttons>
        <ion-title>Álgebra</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card href="/iniciar-cuest1">
        <ion-card-header>
            <ion-card-title>2.1 Suma y resta de polinomios</ion-card-title>
        </ion-card-header>
    </ion-card>
    <ion-card href="/iniciar-cuest2">
        <ion-card-header>
            <ion-card-title>2.2 Multiplicación y división de polinomios</ion-card-title>
        </ion-card-header>
    </ion-card>

</ion-content>