<ion-header>
    <ion-toolbar>
        <ion-title>Módulos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card href="pages/unidades-electricidad">
        <ion-card-header>
            <ion-card-title>Electricidad</ion-card-title>
        </ion-card-header>
        <ion-img src="/assets/imagenesModulos/electricidad.jpg"></ion-img>
        <ion-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis est ad corrupti, libero dicta eaque fugiat ex, pariatur doloribus iusto maiores iste illo debitis culpa nemo dolore! Neque, ut distinctio?
        </ion-card-content>
    </ion-card>
    <ion-card href="pages/unidades-robotica">
        <ion-card-header>
            <ion-card-title>Robotica</ion-card-title>
        </ion-card-header>
        <ion-img src="/assets/imagenesModulos/robotica.jpg"></ion-img>
        <ion-card-content>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, quod nam! Molestiae perferendis enim ipsam alias! Molestias corrupti voluptatem consectetur, molestiae sit laborum repellendus...
        </ion-card-content>
    </ion-card>
    <ion-card href="unidades-matematica">
        <ion-card-header>
            <ion-card-title>Matematica</ion-card-title>
        </ion-card-header>
        <ion-img src="/assets/imagenesModulos/matematica.jpg"></ion-img>
        <ion-card-content>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, quod nam! Molestiae perferendis enim ipsam alias! Molestias corrupti voluptatem consectetur, molestiae sit laborum repellendus...
        </ion-card-content>
    </ion-card>
    <ion-card href="unidades-ingles">
        <ion-card-header>
            <ion-card-title>Ingles</ion-card-title>
        </ion-card-header>
        <ion-img src="/assets/imagenesModulos/ingles.jpg"></ion-img>
        <ion-card-content>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, quod nam! Molestiae perferendis enim ipsam alias! Molestias corrupti voluptatem consectetur, molestiae sit laborum repellendus...
        </ion-card-content>
    </ion-card>
</ion-content>