<ion-header>
    <ion-toolbar>
        <ion-title>Módulos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card href="#">
        <ion-card-header>
            <ion-card-title>Lorem ipsum</ion-card-title>
            <ion-card-subtitle>Lorem ipsum</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, quod nam! Molestiae perferendis enim ipsam alias! Molestias corrupti voluptatem consectetur, molestiae sit laborum repellendus...
        </ion-card-content>
    </ion-card>
    <ion-card href="#">
        <ion-card-header>
            <ion-card-title>Lorem ipsum</ion-card-title>
            <ion-card-subtitle>Lorem ipsum</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, quod nam! Molestiae perferendis enim ipsam alias! Molestias corrupti voluptatem consectetur, molestiae sit laborum repellendus...
        </ion-card-content>
    </ion-card>
    <ion-card href="#">
        <ion-card-header>
            <ion-card-title>Lorem ipsum</ion-card-title>
            <ion-card-subtitle>Lorem ipsum</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, quod nam! Molestiae perferendis enim ipsam alias! Molestias corrupti voluptatem consectetur, molestiae sit laborum repellendus...
        </ion-card-content>
    </ion-card>
    <ion-card href="#">
        <ion-card-header>
            <ion-card-title>Lorem ipsum</ion-card-title>
            <ion-card-subtitle>Lorem ipsum</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, quod nam! Molestiae perferendis enim ipsam alias! Molestias corrupti voluptatem consectetur, molestiae sit laborum repellendus...
        </ion-card-content>
    </ion-card>
</ion-content>