<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Unidades Electricidad</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-card href="pages/temas-unidad-uno-el">
                    <ion-card-header>
                        <ion-card-title>Unidad Uno</ion-card-title>
                        <ion-card-subtitle>Principios de electricidad</ion-card-subtitle>
                    </ion-card-header>
                    <ion-img src="/assets/imagenesUnidadesElectricidad/unidadUnoEl.jpg"></ion-img>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card href="pages/temas-unidad-dos-el">
                    <ion-card-header>
                        <ion-card-title>Unidad Dos</ion-card-title>
                        <ion-card-subtitle>La Carga Eléctrica</ion-card-subtitle>
                    </ion-card-header>
                    <ion-img src="/assets/imagenesUnidadesElectricidad/unidadDosEl.png"></ion-img>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card href="pages/temas-unidad-tres-el">
                    <ion-card-header>
                        <ion-card-title>Unidad Tres</ion-card-title>
                        <ion-card-subtitle>Ley de Ohm</ion-card-subtitle>
                    </ion-card-header>
                    <ion-img src="/assets/imagenesUnidadesElectricidad/unidadTresEl.jpg"></ion-img>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card href="pages/temas-unidad-cuatro-el">
                    <ion-card-header>
                        <ion-card-title>Unidad Cuatro</ion-card-title>
                        <ion-card-subtitle>Circuitos</ion-card-subtitle>
                    </ion-card-header>
                    <ion-img src="/assets/imagenesUnidadesElectricidad/unidadCuatroEl.jpg"></ion-img>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card href="pages/temas-unidad-cinco-el">
                    <ion-card-header>
                        <ion-card-title>Unidad Cinco</ion-card-title>
                        <ion-card-subtitle>Circuitos II</ion-card-subtitle>
                    </ion-card-header>
                    <ion-img src="/assets/imagenesUnidadesElectricidad/unidadCincoEl.png"></ion-img>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>